<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Viewer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="bg-gray-100 p-5">
    <div class="container">
        <h1 class="title">Hello Fresh Recipes</h1>
        <div id="tag-filters" class="tag-container"></div>
        <div id="recipes" class="recipe-grid"></div>
    </div>

    <div id="recipe-modal" class="modal">
        <div class="modal-content">
            <button id="close-modal" class="close-button">&times;</button>
            <img id="recipe-image" class="recipe-image">
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/recipes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tags.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
